@use '@angular/material' as mat;
$vea-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900); // Base para #007BFF (azul)
$vea-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400); // Base para #FFB6C1 (rosa claro)
$vea-warn: mat.define-palette(mat.$red-palette);

$vea-theme: mat.define-light-theme((
  color: (
    primary: $vea-primary,
    accent: $vea-accent,
    warn: $vea-warn,
  )
));

@include mat.all-component-themes($vea-theme);

$custom-primary: #FFB6C1;
$custom-secondary: #007BFF;
$custom-text: #333333;
$custom-background: #FFFFFF;

mat-card-header {
  background-color: $custom-primary;
  color: $custom-text;
}

mat-button.mat-primary {
  background-color: $custom-secondary;
}

body {
  background-color: $custom-background;
  font-family: 'Roboto', sans-serif;
}

.error-message {
  color: mat.get-color-from-palette($vea-warn);
  text-align: center;
  margin-top: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}