@import '~@angular/material/theming';

// Definir um tema básico
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$warn: mat-palette($mat-red);

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include angular-material-theme($theme);

// Sobrescrever cores específicas
$custom-primary: #FFB6C1;
$custom-secondary: #007BFF;
$custom-text: #333333;
$custom-background: #FFFFFF;

mat-card-header {
  background-color: $custom-primary;
  color: $custom-text;
}

.mat-button.mat-primary {
  background-color: $custom-secondary;
}

body {
  background-color: $custom-background;
  font-family: 'Roboto', sans-serif;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
